html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  min-width: 100%;
  min-height: 100%;
  line-height: 1;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-family: 'Roboto', Arial, sans-serif;
  cursor: default !important; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

img,
fieldset,
a img {
  border: none; }

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle; }

svg {
  vertical-align: middle; }
  svg > path {
    transition: fill 0.5s ease; }

a {
  color: #fff;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0;
    text-decoration: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  font-family: 'Roboto', Arial, sans-serif;
  overflow: auto; }

input, button, textarea {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0; }

input,
textarea {
  resize: none;
  user-select: text; }

select {
  -webkit-appearance: button; }

input {
  -webkit-appearance: button; }
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
  color: #5a5a5a !important;
  box-shadow: inset 0 0 0 50px #fff !important; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul {
  list-style-type: none; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0;
  vertical-align: middle; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

label {
  cursor: pointer; }

input[type=number] {
  -webkit-appearance: button;
  -moz-appearance: textfield; }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.clearfix:after {
  content: '';
  display: table;
  overflow: hidden;
  clear: both; }

@font-face {
  font-family: Ukrainian;
  src: url("../fonts/UkrainianFreeSet - Normal.ttf"); }

body {
  margin: 0;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    body {
      overflow-y: auto; } }

.b-fullwidth {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .b-fullwidth {
      position: relative;
      background: url("../img/mobile-bg.jpg"), url("../img/mobile-stars.png") 100% 100% no-repeat;
      background-size: cover; } }
  @media screen and (min-width: 768px) {
    .b-fullwidth {
      background: url("../img/stars.png"), url("../img/layer-3.jpg") 100% 100% no-repeat;
      background-size: cover; } }

.b-left-block {
  position: absolute;
  width: 24.21%;
  bottom: 4.62%;
  top: 4%;
  left: -2%; }
  @media screen and (max-width: 768px) {
    .b-left-block {
      left: -19%;
      top: 5%;
      width: 49%;
      bottom: auto;
      padding-top: 100%; } }
  .b-left-block__tree {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; }

.b-right-block {
  position: absolute;
  width: 26.04167%;
  top: 0;
  bottom: 0;
  right: 0;
  background: url("../img/tree-copy.png") 0 100% no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .b-right-block {
      width: 68.75%;
      background: url("../img/tree-copy-mobile.png") no-repeat;
      background-size: contain; } }
  .b-right-block__logo {
    position: absolute;
    top: 5.55556%;
    right: 12%;
    width: 160px; }
    @media screen and (max-width: 768px) {
      .b-right-block__logo {
        display: none; } }

.b-center-block {
  position: absolute;
  top: 15%;
  right: 24.21875%;
  left: 24.21875%;
  bottom: 28%; }
  .b-center-block__in {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%); }
    @media screen and (max-width: 768px) {
      .b-center-block__in {
        position: static;
        transform: translate(0, 0); } }
  @media screen and (max-width: 768px) {
    .b-center-block {
      top: 26%;
      padding-top: 11%;
      position: relative;
      left: 10%;
      width: 80%;
      z-index: 5; } }
  .b-center-block__logo {
    display: none; }
    @media screen and (max-width: 768px) {
      .b-center-block__logo {
        display: block;
        padding-top: 10%;
        padding-left: 31.25%;
        width: 36.25%; } }

.header-text {
  text-align: center;
  font-family: "Ukrainian", sans-serif;
  font-size: 2.66vw;
  margin: 0;
  padding-top: 61px; }
  @media screen and (max-width: 768px) {
    .header-text {
      font-size: 7.1vw;
      padding-top: 20%;
      position: relative; } }

.b-steps {
  position: relative;
  margin-top: 9.25926%; }
  .b-steps__item {
    float: left;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 1%;
    width: 33.3%; }
    @media screen and (max-width: 768px) {
      .b-steps__item {
        padding-top: 10%;
        float: none;
        width: 100%; } }
  .b-steps__text {
    margin: 17px 0 10px;
    text-align: center;
    font-family: "Ukrainian", sans-serif;
    line-height: 1.9vh;
    font-size: 1.5vh;
    font-weight: bold;
    color: #001e61;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .b-steps__text {
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 5vw;
        line-height: 5.1vh; } }
  .b-steps__img {
    position: relative;
    width: 33.33333%;
    padding-left: 30.30303%;
    z-index: 2; }
    @media screen and (max-width: 768px) {
      .b-steps__img {
        padding-left: 33.33333%; } }
    .b-steps__img--wider {
      width: 55.3125%;
      padding-left: 23.07692%; }
    .b-steps__img--background {
      position: absolute;
      z-index: 5;
      left: 17.77778%;
      bottom: 100%;
      width: 62.11111%;
      margin-bottom: -15px; }
      @media screen and (max-width: 768px) {
        .b-steps__img--background {
          display: none; } }
    .b-steps__img--line {
      position: absolute;
      z-index: 0;
      left: 18.11111%;
      top: 18%;
      width: 63.88889%; }
      @media screen and (max-width: 768px) {
        .b-steps__img--line {
          display: none; } }
  .b-steps__link {
    display: inline-block;
    text-align: center;
    width: 86.66667%;
    height: 4.62963%;
    background-color: #ffab29;
    border: 1px solid #ffd89c;
    border-radius: 2px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.1);
    font-family: "Ukrainian", sans-serif;
    font-size: 0.83vw;
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    margin-left: 3%;
    cursor: pointer; }
    .b-steps__link:hover {
      background-color: #ffc446; }
    .b-steps__link:active {
      background-color: #ffa030; }
    @media screen and (max-width: 768px) {
      .b-steps__link {
        font-size: 5vw;
        padding: 20px 22px 20px 5px; } }

.b-additional-info {
  position: absolute;
  left: 25.3125%;
  right: 25.3125%;
  bottom: 5.55556%; }
  @media screen and (max-width: 768px) {
    .b-additional-info {
      position: relative;
      left: 7.8125px;
      width: 95%; } }
  .b-additional-info__link {
    display: block;
    margin-top: 15px;
    font-family: "Ukrainian", sans-serif;
    font-size: 0.9vw;
    text-decoration: underline;
    text-align: center;
    color: #21285d; }
    @media screen and (max-width: 768px) {
      .b-additional-info__link {
        font-size: 4.38vw;
        padding-left: 5%;
        margin-bottom: 30px; } }

.b-bonus {
  position: relative;
  z-index: 6; }
  .b-bonus__img {
    padding-left: 19.44444%;
    padding-right: 2%;
    width: 34.33333%;
    vertical-align: middle; }
    @media screen and (max-width: 768px) {
      .b-bonus__img {
        width: 46.53846%;
        padding-left: 6.25%; } }
  .b-bonus__text {
    font-size: 2.29vw;
    line-height: 3.5vw;
    font-family: "Ukrainian", sans-serif;
    width: 26.77778%;
    display: inline-block;
    vertical-align: middle; }
    @media screen and (max-width: 768px) {
      .b-bonus__text {
        font-size: 5.31vw;
        line-height: 6.88vw;
        margin: 1%; } }

.b-phone__number {
  display: block;
  vertical-align: top;
  font-family: "Ukrainian", sans-serif;
  font-weight: bold;
  color: #21285d;
  font-size: 30px;
  padding-left: 50px;
  margin: 0 0 8px;
  background: url("../img/phone.png") no-repeat 0 50%;
  background-size: contain; }
  @media screen and (max-width: 768px) {
    .b-phone__number {
      font-size: 9vw;
      letter-spacing: 1vw;
      padding-left: 11%; } }

.b-phone__free-call {
  font-family: "Ukrainian", sans-serif;
  letter-spacing: 3px;
  font-size: 13px;
  margin: 0;
  text-align: justify;
  color: #21285d;
  padding-bottom: 3%; }
  @media screen and (max-width: 768px) {
    .b-phone__free-call {
      font-size: 3.13vw;
      letter-spacing: 1.7vw; } }

.small-text {
  font-family: "Ukrainian", sans-serif;
  line-height: 1.8vh;
  font-size: 1.3vh; }
  @media screen and (max-width: 768px) {
    .small-text {
      font-size: 3.13vw;
      line-height: 6.25vw;
      text-align: center;
      margin: 5%; } }

.desktop-hidden {
  display: block; }
  @media screen and (max-width: 768px) {
    .desktop-hidden {
      display: none; } }

.mobile-visible {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-visible {
      display: block; } }

.canvas-element {
  position: absolute;
  z-index: 2;
  pointer-events: none; }

.sparkle-animate {
  transform-origin: 50% 50%;
  animation: sparkle-keyframe 3s ease-in-out; }
  .sparkle-animate > g {
    transform-origin: 50% 50%;
    animation: sparkle-light-keyframe 3s ease-in-out; }

@keyframes sparkle-light-keyframe {
  0% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(180deg); } }

@keyframes sparkle-keyframe {
  0% {
    opacity: 0;
    transform: rotate(-45deg); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg); } }
