@font-face {
  font-family: Ukrainian;
  src: url("../fonts/UkrainianFreeSet - Normal.ttf"); }

body {
  margin: 0; }

.b-fullwidth {
  position: absolute;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 908px) {
    .b-fullwidth {
      position: relative;
      background: url("../img/mobile-bg.png"), url("../img/mobile-stars.png") 100% 100% no-repeat;
      background-size: cover; } }
  @media screen and (min-width: 908px) {
    .b-fullwidth {
      background: url("../img/stars.png"), url("../img/layer-3.png") 100% 100% no-repeat; } }

.b-left-block {
  position: absolute;
  width: 24.21%;
  bottom: 4.62%;
  top: 4%;
  left: -2%; }
  @media screen and (max-width: 908px) {
    .b-left-block {
      left: -19%;
      top: 5%;
      width: 49%;
      bottom: auto;
      padding-top: 100%; } }
  .b-left-block__tree {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; }

.b-right-block {
  position: absolute;
  width: 26.04167%;
  top: 0;
  bottom: 0;
  right: 0;
  background: url("../img/tree-copy.png") 100% 100% no-repeat;
  background-position: 0 100%;
  background-size: cover; }
  @media screen and (max-width: 908px) {
    .b-right-block {
      width: 68.75%;
      background: url("../img/tree-copy-mobile.png") no-repeat;
      background-size: contain; } }
  .b-right-block__logo {
    position: absolute;
    top: 5.55556%;
    right: 12%; }
    @media screen and (max-width: 908px) {
      .b-right-block__logo {
        display: none; } }

.b-center-block {
  position: absolute;
  top: 20%;
  right: 28.64583%;
  left: 24.21875%; }
  @media screen and (max-width: 908px) {
    .b-center-block {
      top: 26%;
      padding-top: 11%;
      position: relative;
      left: 10%;
      width: 80%;
      z-index: 5; } }
  .b-center-block__logo {
    display: none; }
    @media screen and (max-width: 908px) {
      .b-center-block__logo {
        display: block;
        padding-top: 10%;
        padding-left: 31.25%;
        width: 36.25%; } }

.header-text {
  text-align: center;
  font-family: "Ukrainian", sans-serif;
  font-size: 2.66vw;
  margin: 0;
  padding-top: 61px; }
  @media screen and (max-width: 908px) {
    .header-text {
      font-size: 7.1vw;
      padding-top: 20%;
      position: relative; } }

.b-steps {
  overflow: auto;
  padding-top: 9.25926%; }
  .b-steps__item {
    float: left;
    vertical-align: top;
    width: 33.3%; }
    @media screen and (max-width: 908px) {
      .b-steps__item {
        padding-top: 10%;
        float: none;
        width: 100%; } }
  .b-steps__text {
    text-align: center;
    font-family: "Ukrainian", sans-serif;
    font-size: 1.04vw;
    font-weight: bold;
    color: #001e61;
    text-transform: uppercase; }
    @media screen and (max-width: 908px) {
      .b-steps__text {
        font-size: 5vw; } }
  .b-steps__img {
    position: relative;
    width: 33.33333%;
    padding-left: 30.30303%;
    z-index: 2; }
    @media screen and (max-width: 908px) {
      .b-steps__img {
        padding-left: 33.33333%; } }
    .b-steps__img--wider {
      width: 55.3125%;
      padding-left: 23.07692%; }
    .b-steps__img--background {
      position: absolute;
      z-index: 5;
      left: 17.77778%;
      top: 0;
      width: 62.11111%; }
      @media screen and (max-width: 908px) {
        .b-steps__img--background {
          display: none; } }
    .b-steps__img--line {
      position: absolute;
      z-index: 0;
      left: 18.11111%;
      top: 63%;
      width: 63.88889%; }
      @media screen and (max-width: 908px) {
        .b-steps__img--line {
          display: none; } }
  .b-steps__link {
    display: inline-block;
    text-align: center;
    width: 86.66667%;
    height: 4.62963%;
    background-color: #ffab29;
    border: 1px solid #ffd89c;
    border-radius: 2px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.1);
    font-family: "Ukrainian", sans-serif;
    font-size: 0.83vw;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    margin-left: 3%; }
    .b-steps__link :hover {
      background-color: #ffc446; }
    @media screen and (max-width: 908px) {
      .b-steps__link {
        font-size: 5vw;
        padding: 20px 22px 20px 5px; } }

.b-additional-info {
  position: absolute;
  left: 25.3125%;
  right: 27.8125%;
  bottom: 5.55556%; }
  @media screen and (max-width: 908px) {
    .b-additional-info {
      position: relative;
      left: 7.8125px;
      width: 95%; } }
  .b-additional-info__link {
    font-family: "Ukrainian", sans-serif;
    font-size: 0.73vw;
    text-decoration: underline;
    text-align: center;
    padding-left: 33.14815%; }
    @media screen and (max-width: 908px) {
      .b-additional-info__link {
        font-size: 4.38vw;
        padding-left: 5%; } }

.b-bonus {
  overflow: auto; }
  .b-bonus__img {
    position: relative;
    padding-left: 19.44444%;
    width: 34.33333%;
    float: left;
    z-index: 6; }
    @media screen and (max-width: 908px) {
      .b-bonus__img {
        width: 46.53846%;
        padding-left: 6.25%; } }
  .b-bonus__text {
    padding-right: 17.33333%;
    font-size: 2.29vw;
    line-height: 2.92vw;
    font-family: "Ukrainian", sans-serif;
    width: 26.77778%;
    float: right;
    z-index: 3; }
    @media screen and (max-width: 908px) {
      .b-bonus__text {
        font-size: 5.31vw;
        line-height: 6.88vw;
        margin: 1%; } }

.b-phone__number {
  vertical-align: top;
  margin: 0;
  font-family: "Ukrainian", sans-serif;
  font-weight: bold;
  color: #21285d;
  font-size: 2.19vw;
  padding-left: 10%; }
  @media screen and (max-width: 908px) {
    .b-phone__number {
      font-size: 9vw;
      letter-spacing: 1vw; } }

.b-phone__free-call {
  font-family: "Ukrainian", sans-serif;
  letter-spacing: 0.36vw;
  font-size: 0.73vw;
  margin: 0;
  text-align: justify;
  color: #21285d; }
  @media screen and (max-width: 908px) {
    .b-phone__free-call {
      font-size: 3.13vw;
      letter-spacing: 1.7vw; } }

.b-phone__img {
  float: left;
  width: 2.3vw; }
  @media screen and (max-width: 908px) {
    .b-phone__img {
      width: 9.3vw; } }

.small-text {
  font-family: "Ukrainian", sans-serif;
  font-size: 1.52vh; }
  @media screen and (max-width: 908px) {
    .small-text {
      font-size: 3.13vw;
      line-height: 6.25vw;
      text-align: center;
      margin: 5%; } }

.desktop-hidden {
  display: block; }
  @media screen and (max-width: 908px) {
    .desktop-hidden {
      display: none; } }

.mobile-visible {
  display: none; }
  @media screen and (max-width: 908px) {
    .mobile-visible {
      display: block; } }

.canvas-element {
  position: absolute;
  z-index: 2; }
